# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# PyCharm
.idea/

# SQLite (DB local)
*.db
*.sqlite
*.sqlite3

# Node / React
frontend/node_modules/
frontend/build/
frontend/node_modules/.cache/

# VS Code
.vscode/
